.GuidedTour {
    position: absolute;
    right: 120px;
    top: 10px;
    padding: 5px;
    border: 3px solid;
    background-color: var(--cds-ui-04,#8d8d8d);
    cursor: pointer;
 
    color: var(--cds-text-01,#161616);
}

.GuidedTour::after {
    content: "\f04b";
    font-family: 'FontAwesome';
    padding: 3px;
}


svg.shepherd-modal-is-visible.shepherd-modal-overlay-container
{
    opacity: 0.3 !important;
    transition: none !important;
}

.shepherd-has-title .shepherd-content .shepherd-header {
    background: #e6e6e6;
    padding: 0em 1em 0 1em;
}
.shepherd-header {
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
    line-height: 2em;
}
.shepherd-element {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4pxrgba(0,0,0,.2);
    max-width: 400px;
    opacity: 0;
    outline: none;
    transition: opacity .3s,visibility .3s;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
    border: 2px solid darkgrey;
    margin-top: 10px !important;
}
.shepherd-button {
    background: #7F8487;
    border: 0;
    border-radius: 3px;
    color: hsla(0,0%,100%,.75);
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all .5s ease;
}
.shepherd-button:not(:disabled):hover {
    background-color: #AAAAAA;
}

.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before {
    background-color: #41414100 !important;
    border-bottom: 8px solid transparent;
    border-top: 8px solid #e6e6e6;
    border-left: 8px solid #e6e6e6;
    border-right: 8px solid transparent;
}


shepherd-arrow:before {
    content: "";
    transform: rotate(45deg);
    background: #fff0;
}
.shepherd-arrow:before {
    content: "";
    transform: rotate(45deg);
    background: #313131;
    background-color: #41414100;
    border-bottom: 8px solid #e6e6e6;
    border-top: 8px solid #ffffff;
    border-left: 8px solid #ffffff;
    border-right: 8px solid #e6e6e6;
}
