.shepherd-element{
    margin: 10px 0px !important;
    background: linear-gradient(135deg, #caf0f8, #003459);
    width: 500px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #caf0f8;
    opacity: 0.7;
    
} 
